*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:linear-gradient(
135deg,
#eb25eb,
#9fed3a
);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.quiz-container{
background:white;
width:700px;
padding:30px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.quiz-container h1{
text-align:center;
margin-bottom:20px;
color:#333;
}

#question{
margin-bottom:20px;
}

.btn{
width:100%;
padding:12px;
margin:8px 0;
border:1px solid #ddd;
border-radius:8px;
background:white;
cursor:pointer;
font-size:16px;
text-align:left;
transition:0.3s;
}

.btn:hover{
background:#eef2ff;
}

.correct{
background:#22c55e;
color:white;
}

.wrong{
background:#ef4444;
color:white;
}

#next-btn{
display:none;
margin-top:20px;
padding:12px 30px;
border:none;
background:#2563eb;
color:white;
border-radius:8px;
cursor:pointer;
font-size:16px;
}

#next-btn:hover{
background:#1d4ed8;
}